:root {
  --accent-color: #fff06b;
  --secondary-accent-color: #455bff;
  --clear-white: #ffffff;
  --clear-black: #000000;
  --secondary-text-color: #907e82;
  --cream-pink: #001add;
  --cofee-color: #f0d1a5;
  --light-green: #c2e297;
  --secondary-bg: #fff5f6;
  --menu-bg: #001add;
  --button-hover: #ecebeb;
  --menu-border-color: #001add;
  --special-font: Titan One, sans-serif;
  --main-font: DM Sans, sans-serif;
}
