<h3 style="color: rgba(255, 255, 255, 0.7); margin: 30px 0;">Аксесуари</h3>

<div class="barrier-accessories-slider">
  <div class="reviews__slide">
    <img src="/images/gallery/barrier-systems/velvet-rope-chrom.jpg" alt="flagpole" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Канат огорожі</b><br />
      арт. ra-001<br />
      оксамит, хром<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/barrier-systems/velvet-rope-gold.jpg" alt="flagpole" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Канат огорожі</b><br />
      арт. ra-002<br />
      оксамит, золото<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/barrier-systems/braided-rope-chrom.jpg" alt="flagpole" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Канат огорожі</b><br />
      арт. ra-003<br />
      плетення, хром<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/barrier-systems/braided-rope-gold.jpg" alt="flagpole" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Канат огорожі</b><br />
      арт. ra-004<br />
      плетення, золото<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/barrier-systems/fence-spool-chrom.jpg" alt="fence-spool" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Катушка огорожі</b><br />
      арт. ra-005<br />
      хром<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/barrier-systems/fence-spool-gold.jpg" alt="fence-spool" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Катушка огорожі</b><br />
      арт. ra-006<br />
      золото<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/barrier-systems/atlas-tape.jpg" alt="atlas-tape" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Стрічка церемоніальна</b><br />
      арт. ra-007<br />
      атлас<br />
      ціна: 100 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/barrier-systems/scissors-gold.jpg" alt="scissors-gold" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Ножиці церемоніальні</b><br />
      арт. ra-008<br />
      метал<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/barrier-systems/pillow.jpg" alt="pillow" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Подушка церемоніальна</b><br />
      арт. ra-009<br />
      метал<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/barrier-systems/metal-tray-chrom.jpg" alt="metal-tray" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Таця церемоніальна</b><br />
      арт. ra-010<br />
      хром<br />
      ціна: 1000 грн
    </p>
  </div>


</div>