<h3 style="color: rgba(255, 255, 255, 0.7); margin: 30px 0;">Стійки огорожі</h3>

<div class="barrier-systems-slider">
  <div class="reviews__slide">
    <img src="/images/gallery/barrier-systems/rope-fence-rack.jpg" alt="flagpole" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Стійка канатна</b><br />
      арт. fr-001<br />
      нерж сталь<br />
      ціна: 2000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/barrier-systems/infobared-rope-fence-rack.jpg" alt="flagpole" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Інфостійка канатна</b><br />
      арт. fr-002<br />
      нерж сталь<br />
      ціна: 2000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/barrier-systems/tensor-fence-rack.jpg" alt="flagpole" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Стійка тенсаторна</b><br />
      арт. fr-003<br />
      нерж сталь<br />
      ціна: 2000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/barrier-systems/tensor-fence-rack-brand.jpg" alt="flagpole" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Бренд-стійка тенсаторна</b><br />
      арт. fr-004<br />
      нерж сталь<br />
      ціна: 2000 грн
    </p>
  </div>

</div>