<h3 style="color: rgba(255, 255, 255, 0.7); margin: 30px 0;">Флагштоки зовнішні масивні</h3>

<div class="external-flagpoles-slider">
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/external-flagpole-fiberglass.jpg" alt="external flagpole" width="150px"
      height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Флагшток масивний 6 м</b><br />
      арт. fe-001<br />
      склофібра<br />
      ціна: 8000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/external-flagpole-fiberglass.jpg" alt="external flagpole" width="150px"
      height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Флагшток масивний 8 м</b><br />
      арт. fe-002<br />
      склофібра<br />
      ціна: 8000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/external-flagpole-fiberglass.jpg" alt="external flagpole" width="150px"
      height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Флагшток масивний 10 м</b><br />
      арт. fe-003<br />
      склофібра<br />
      ціна: 8000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/external-flagpole-fiberglass.jpg" alt="external flagpole" width="150px"
      height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Флагшток масивний 12 м</b><br />
      арт. fe-004<br />
      склофібра<br />
      ціна: 8000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/external-flagpole-alum.jpg" alt="external flagpole" width="150px"
      height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Флагшток масивний 5 м</b><br />
      арт. fe-005<br />
      алюміній<br />
      ціна: 8000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/external-flagpole-alum.jpg" alt="external flagpole" width="150px"
      height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Флагшток масивний 6 м</b><br />
      арт. fe-006<br />
      алюміній<br />
      ціна: 8000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/external-flagpole-alum.jpg" alt="external flagpole" width="150px"
      height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Флагшток масивний 8 м</b><br />
      арт. fe-007<br />
      алюміній<br />
      ціна: 8000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/external-flagpole-alum.jpg" alt="external flagpole" width="150px"
      height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Флагшток масивний 10 м</b><br />
      арт. fe-008<br />
      алюміній<br />
      ціна: 8000 грн
    </p>
  </div>

  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/podium.jpg" alt="external flagpole" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Тумба 650 кг</b><br />
      арт. fe-009<br />
      бетон<br />
      ціна: 8000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/cross-piece.jpg" alt="external flagpole" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Основа Хрестовина</b><br />
      арт. fe-010<br />
      сталь, бетон<br />
      ціна: 8000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/auger.jpg" alt="external flagpole" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Шнек</b><br />
      арт. fe-011<br />
      сталь<br />
      ціна: 2000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/banner-bar-pommel.jpg" alt="external flagpole" width="150px"
      height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Банер-бар</b><br />
      арт. fe-012<br />
      алюміній<br />
      ціна: 8000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/cord.jpg" alt="external flagpole" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Шнур</b><br />
      арт. fe-013<br />
      капрон<br />
      ціна: 300 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/hose-clamps.jpg" alt="external flagpole" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Хомути</b><br />
      арт. fe-014<br />
      капрон<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/weighting-agent.jpg" alt="external flagpole" width="150px"
      height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Обтяжувач прапора</b><br />
      арт. fe-015<br />
      сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/external-flagpoles/winch.jpg" alt="external flagpole" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Лебідка</b><br />
      арт. fe-016<br />
      капрон, алюміній<br />
      ціна: 8000 грн
    </p>
  </div>


</div>