<h3 style="color: rgba(255, 255, 255, 0.7); margin: 30px 0;">Прапори та знамена</h3>

<div class="flags-slider">

  <div class="reviews__slide">
    <img src="/images/gallery/flags/ukraine.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор зшивний</b><br />
      арт. bf-001<br />
      100х150 см, шовк<br />
      ціна: 250 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/ukraine.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор 1-сторонній</b><br />
      арт. bf-002<br />
      100х150 см, атлас/сітка<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/ukraine.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор 2-сторонній</b><br />
      арт. bf-003<br />
      100х150 см, атлас/сітка<br />
      ціна: 1600 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/ukraine.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор преміум</b><br />
      арт. bf-004<br />
      100х150 см, атлас<br />
      ціна: 3200 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/ukraine.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор vip</b><br />
      арт. bf-005<br />
      100х150 см, блекаут<br />
      ціна: 5200 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/zsu.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор зшивний</b><br />
      арт. bf-001<br />
      100х150 см, шовк<br />
      ціна: 250 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/zsu.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор 1-сторонній</b><br />
      арт. bf-002<br />
      100х150 см, атлас/сітка<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/zsu.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор 2-сторонній</b><br />
      арт. bf-003<br />
      100х150 см, атлас/сітка<br />
      ціна: 1600 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/zsu.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор преміум</b><br />
      арт. bf-004<br />
      100х150 см, атлас<br />
      ціна: 3200 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/zsu.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор vip</b><br />
      арт. bf-005<br />
      100х150 см, блекаут<br />
      ціна: 5200 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/states.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор зшивний</b><br />
      арт. bf-001<br />
      100х150 см, шовк<br />
      ціна: 250 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/states.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор 1-сторонній</b><br />
      арт. bf-002<br />
      100х150 см, атлас/сітка<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/states.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор 2-сторонній</b><br />
      арт. bf-003<br />
      100х150 см, атлас/сітка<br />
      ціна: 1600 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/states.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор преміум</b><br />
      арт. bf-004<br />
      100х150 см, атлас<br />
      ціна: 3200 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/states.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор vip</b><br />
      арт. bf-005<br />
      100х150 см, блекаут<br />
      ціна: 5200 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/logo.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор зшивний</b><br />
      арт. bf-001<br />
      100х150 см, шовк<br />
      ціна: 250 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/logo.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор 1-сторонній</b><br />
      арт. bf-002<br />
      100х150 см, атлас/сітка<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/logo.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор 2-сторонній</b><br />
      арт. bf-003<br />
      100х150 см, атлас/сітка<br />
      ціна: 1600 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/logo.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор преміум</b><br />
      арт. bf-004<br />
      100х150 см, атлас<br />
      ціна: 3200 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/logo.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапор vip</b><br />
      арт. bf-005<br />
      100х150 см, блекаут<br />
      ціна: 5200 грн
    </p>
  </div>

</div>

<h3 style="color: rgba(255, 255, 255, 0.7); margin: 30px 0;">Прапорці настільні</h3>

<div class="small-flags-slider">

  <div class="reviews__slide">
    <img src="/images/gallery/flags/ukraine.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапорець 1-сторонній</b><br />
      арт. sf-001<br />
      14х25 см, шовк<br />
      ціна: 40 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/ukraine.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапорець 2-сторонній</b><br />
      арт. sf-002<br />
      14х25 см, атлас<br />
      ціна: 75 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/ukraine.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапорець vip</b><br />
      арт. sf-003<br />
      14х25 см, блекаут<br />
      ціна: 350 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/zsu.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапорець 1-сторонній</b><br />
      арт. sf-001<br />
      14х25 см, шовк<br />
      ціна: 40 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/zsu.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапорець 2-сторонній</b><br />
      арт. sf-002<br />
      14х25 см, атлас<br />
      ціна: 75 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/zsu.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапорець vip</b><br />
      арт. sf-003<br />
      14х25 см, блекаут<br />
      ціна: 350 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/states.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапорець 1-сторонній</b><br />
      арт. sf-001<br />
      14х25 см, шовк<br />
      ціна: 40 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/states.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапорець 2-сторонній</b><br />
      арт. sf-002<br />
      14х25 см, атлас<br />
      ціна: 75 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/states.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапорець vip</b><br />
      арт. sf-003<br />
      14х25 см, блекаут<br />
      ціна: 350 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/logo.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапорець 1-сторонній</b><br />
      арт. sf-001<br />
      14х25 см, шовк<br />
      ціна: 40 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/logo.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапорець 2-сторонній</b><br />
      арт. sf-002<br />
      14х25 см, атлас<br />
      ціна: 75 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/flags/logo.jpg" alt="flag" width="150px" height="150px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

      <b>Прапорець vip</b><br />
      арт. sf-003<br />
      14х25 см, блекаут<br />
      ціна: 350 грн
    </p>
  </div>

</div>