<h3 style="color: rgba(255, 255, 255, 0.7); margin: 30px 0;">Підставки для флагштоків кабінетних</h3>

<div class="office-flagpole-stands-slider">
  <div class="reviews__slide" style="position: relative;">
    <img src="/images/gallery/office-flagpole-stands/single-stand-econom-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <a href="./items/nm-001.html">
      <img src="/images/view-details.svg" alt="view details"
        style="position:absolute; top:20px; right: 40px; width: 30px;" />
    </a>
    <p class=" reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/office-flagpole-stands/double-stand-econom-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/office-flagpole-stands/triple-stand-econom-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/office-flagpole-stands/single-stand-classic-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/office-flagpole-stands/double-stand-classic-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/office-flagpole-stands/triple-stand-classic-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/office-flagpole-stands/single-stand-premium-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/office-flagpole-stands/double-stand-premium-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/office-flagpole-stands/triple-stand-premium-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/office-flagpole-stands/single-stand-eternal-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/office-flagpole-stands/double-stand-eternal-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/office-flagpole-stands/triple-stand-eternal-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/office-flagpole-stands/single-stand-luxury-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/office-flagpole-stands/double-stand-luxury-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/office-flagpole-stands/triple-stand-luxury-chrome.jpg" alt="flagpole" width="300px"
      height="300px" style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:14px; line-height: 1.2; text-align: left;">

      <b>Підставка підлогова</b><br />
      арт. nm-001<br />
      нерж сталь<br />
      ціна: 1000 грн
    </p>
  </div>
</div>