<h3 style="color: rgba(255, 255, 255, 0.7); margin: 30px 0;">Флагштоки мобільні VINDER</h3>

<div class="vinder-flagpoles-slider">
  <div class="reviews__slide">
    <img src="/images/gallery/vinder-flagpoles/quadro.jpg" alt="flagpole vinder" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Віндер Квадро 2 м</b><br />
      арт. fv-001<br />
      алюміній<br />
      ціна: 2300 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/vinder-flagpoles/parus.jpg" alt="flagpole vinder" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Віндер Парус 2,5 м</b><br />
      арт. fv-002<br />
      алюміній<br />
      ціна: 2500 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/vinder-flagpoles/bryz.jpg" alt="flagpole vinder" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Віндер Бриз 2,5 м</b><br />
      арт. fv-003<br />
      алюміній<br />
      ціна: 2500 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/vinder-flagpoles/drop.jpg" alt="flagpole vinder" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Віндер Крапля 2,5 м</b><br />
      арт. fv-004<br />
      алюміній<br />
      ціна: 2500 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/vinder-flagpoles/quadro.jpg" alt="flagpole vinder" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Віндер Квадро 3 м</b><br />
      арт. fv-005<br />
      алюміній<br />
      ціна: 2500 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/vinder-flagpoles/parus.jpg" alt="flagpole vinder" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Віндер Парус 3,5 м</b><br />
      арт. fv-006<br />
      алюміній<br />
      ціна: 2700 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/vinder-flagpoles/bryz.jpg" alt="flagpole vinder" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Віндер Бриз 3,5 м</b><br />
      арт. fv-007<br />
      алюміній<br />
      ціна: 2700 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/vinder-flagpoles/drop.jpg" alt="flagpole vinder" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Віндер Крапля 3,5 м</b><br />
      арт. fv-008<br />
      алюміній<br />
      ціна: 2700 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/vinder-flagpoles/square.jpg" alt="flagpole vinder stand" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Основа квадратна</b><br />
      арт. fv-009<br />
      сталь | бетон<br />
      ціна: +1000 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/vinder-flagpoles/wheel.jpg" alt="flagpole vinder stand" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Основа автомобільна</b><br />
      арт. fv-010<br />
      сталь<br />
      ціна: +500 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/vinder-flagpoles/auger.jpg" alt="flagpole vinder stand" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Основа Шнек</b><br />
      арт. fv-011<br />
      сталь<br />
      ціна: +500 грн
    </p>
  </div>
  <div class="reviews__slide">
    <img src="/images/gallery/vinder-flagpoles/bayonet.jpg" alt="flagpole vinder stand" width="150px" height="150px"
      style="border-radius: 3px;">
    <p class="reviews__name"
      style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">
      <b>Основа Штик</b><br />
      арт. fv-012<br />
      сталь<br />
      ціна: +1 грн
    </p>
  </div>



</div>