<section class="reviews" id="about-us">
  <div class="container">
    <h2 style="color: rgba(255, 255, 255, 0.7);padding-bottom: 30px;">Про нас</h2>
    <div class="about-slider">
      <div class="reviews__slide">
        <img class="reviews__pic" src="./images/founder.png" alt="засновник"
          style="border-radius: 50%; width: 150px; height:150px; " />
        <div class="reviews__nav" style="margin-bottom: 50px;">
          <div class="reviews__text-box">
            <div class="reviews__text-underline">
              <p class="reviews__text">
                В 2006 році компанію заснував Олександр Данілов.<br />
                Згодом стала сімейним бізнесом з традиційними цінностями роботи та якості.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews__slide">
        <img class="reviews__pic" src="./images/production.png" alt="засновник"
          style="border-radius: 50%; width: 150px; height:150px; " />
        <div class="reviews__nav">
          <div class="reviews__text-box">
            <div class="reviews__text-underline">
              <p class="reviews__text">
                Основним напрямком діяльності є виробництво і продаж прапорів, флагштоків, гербів, рекламних та
                інформаційних конструкцій різного типу.

              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews__slide">
        <img class="reviews__pic" src="./images/achievements.png" alt="засновник"
          style="border-radius: 50%; width: 150px; height:150px; " />
        <div class="reviews__nav">
          <div class="reviews__text-box">
            <div class="reviews__text-underline">
              <p class="reviews__text">
                > 15 років діяльності<br />
                > 3000 замовлень<br />
                > 1000 клієнтів
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews__slide">
        <img class="reviews__pic" src="./images/resources.png" alt="засновник"
          style="border-radius: 50%; width: 150px; height:150px; " />
        <div class="reviews__nav">
          <div class="reviews__text-box">
            <div class="reviews__text-underline">
              <p class="reviews__text">
                Багатий досвід, власні технології та розробки дають можливість
                виготовляти ексклюзивну продукцію з використанням різноманітних матеріалів:<br />
                текстиль | метал | дерево | пластик | мармур
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
</section>