<section class="portfolio-reviews" id="gallery">
  <div class="container">
    <h2 style="color: var(--accent-color);margin-bottom: 30px;">Галерея</h2>

    <h3 style="color: var(--secondary-accent-color);margin: 30px 0;">Прапори</h3>
    <div style="display: flex; justify-content: center;">
      <img src="/images/gallery/backgrounds/flags.jpg" alt="flags" style="border-radius: 3px; width: 100%;">
    </div>
    <include src="./partials/gallery-partials/flags.html"></include>

    <h3 style="color: var(--secondary-accent-color);margin: 30px 0;">Флагштоки офісні</h3>
    <div style="display: flex; justify-content: center;">
      <img src="/images/gallery/backgrounds/office-flagpoles.jpg" alt="flagpoles"
        style="border-radius: 3px; width: 100%;">
    </div>

    <include src="./partials/gallery-partials/pommels.html"></include>
    <include src="./partials/gallery-partials/office-flagpole-stands.html"></include>

    <h3 style="color: var(--secondary-accent-color);margin: 30px 0;">Флагштоки зовнішні</h3>

    <include src="./partials/gallery-partials/vinder-flagpoles.html"></include>
    <include src="./partials/gallery-partials/external-flagpoles.html"></include>

    <h3 style="color: var(--secondary-accent-color);margin: 30px 0;">Стійки огорожі та аксесуари</h3>
    <div style="display: flex; justify-content: center;">
      <img src="/images/gallery/backgrounds/barrier-systems.jpg" alt="flagpoles"
        style="border-radius: 3px; width: 100%;">
    </div>
    <include src="./partials/gallery-partials/barrier-systems.html"></include>
    <include src="./partials/gallery-partials/barrier-systems-accessories.html"></include>
  </div>
</section>