<section class="portfolio-reviews" id="gallery">
  <div class="container">
    <h2 style="color: rgba(255, 255, 255, 0.7);padding-bottom: 30px;">Галерея</h2>
    <h3 style="color: rgba(255, 255, 255, 0.7);padding-bottom: 30px;">Навершя для флагштоків</h3>

    <div class="reviews2-slider">
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/trident-chrome.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Тризуб</b><br />
          арт. nm-001<br />
          нерж сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-chrome.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з тризубом</b><br />
          арт. nm-002<br />
          нерж сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-chrome-enamel.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з тризубом</b><br />
          арт. nm-003<br />
          нерж сталь, емаль<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-chrome.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля</b><br />
          арт. nm-004<br />
          нерж сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-emblem-chrome-enamel.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з гербом ЄС</b><br />
          арт. nm-005<br />
          нерж сталь, емаль<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/trident-aurum.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Тризуб</b><br />
          арт. nm-006<br />
          позолота<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-aurum.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з тризубом</b><br />
          арт. nm-007<br />
          позолота<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-aurum-enamel.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з тризубом</b><br />
          арт. nm-008<br />
          позолота, емаль<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-aurum.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля</b><br />
          арт. nm-009<br />
          позолота<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-emblem-aurum-enamel.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з гербом ЄС</b><br />
          арт. nm-010<br />
          позолота, емаль<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/trident-silver.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Тризуб</b><br />
          арт. np-001<br />
          пластик<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-silver.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з тризубом</b><br />
          арт. np-002<br />
          пластик<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-silver-enamel.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з тризубом</b><br />
          арт. np-003<br />
          пластик, емаль<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-silver.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля</b><br />
          арт. np-004<br />
          пластик<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-emblem-silver-enamel.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з гербом ЄС</b><br />
          арт. np-005<br />
          пластик, емаль<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/trident-gold.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Тризуб</b><br />
          арт. np-006<br />
          пластик<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-gold.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з тризубом</b><br />
          арт. np-007<br />
          пластик<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-gold-enamel.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з тризубом</b><br />
          арт. np-008<br />
          пластик, емаль<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-gold.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля</b><br />
          арт. np-009<br />
          пластик<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-emblem-gold-enamel.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з гербом ЄС</b><br />
          арт. np-010<br />
          пластик, емаль<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/cone-chrome.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Тризуб</b><br />
          арт. nm-001<br />
          нерж сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/fire-cone-chrome.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з тризубом</b><br />
          арт. nm-002<br />
          нерж сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/nonla-chrome.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з тризубом</b><br />
          арт. nm-003<br />
          нерж сталь, емаль<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/sphere-chrome.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля</b><br />
          арт. nm-004<br />
          нерж сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/sphere-chrome.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з гербом ЄС</b><br />
          арт. nm-005<br />
          нерж сталь, емаль<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/cone-aurum.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Тризуб</b><br />
          арт. nm-006<br />
          позолота<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/fire-cone-aurum.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з тризубом</b><br />
          арт. nm-007<br />
          позолота<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/nonla-aurum.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з тризубом</b><br />
          арт. nm-008<br />
          позолота, емаль<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/sphere-aurum.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля</b><br />
          арт. nm-009<br />
          позолота<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/sphere-aurum.jpg" alt="flagpole" width="150px" height="150px"
          style="border-radius: 3px;">
        <p class="reviews__name"
          style="color: rgba(255, 255, 255, 0.7); font-size:12px; line-height: 1.2; text-align: left;">

          <b>Крапля з гербом ЄС</b><br />
          арт. nm-010<br />
          позолота, емаль<br />
          ціна: 1000 грн
        </p>
      </div>

    </div>
    <h3 style="color: rgba(255, 255, 255, 0.7);padding-bottom: 30px;">Підставки для флагштоків кабінетних</h3>
    <div class="reviews2-slider">
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-chrome.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">
          Крапля з тризубом<br />
          нержавіюча сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-chrome.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">
          Крапля з тризубом<br />
          нержавіюча сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-chrome.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">
          Крапля з тризубом<br />
          нержавіюча сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-chrome.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">
          Крапля з тризубом<br />
          нержавіюча сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-chrome.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">
          Крапля з тризубом<br />
          нержавіюча сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-chrome.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">
          Крапля з тризубом<br />
          нержавіюча сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-chrome.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">
          Крапля з тризубом<br />
          нержавіюча сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-chrome.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">
          Крапля з тризубом<br />
          нержавіюча сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-chrome.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">
          Крапля з тризубом<br />
          нержавіюча сталь<br />
          ціна: 1000 грн
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/gallery/flagpoles-cabinet/drop-with-trident-chrome.jpg" alt="flagpole" width="150px"
          height="150px" style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">
          Крапля з тризубом<br />
          нержавіюча сталь<br />
          ціна: 1000 грн
        </p>
      </div>

    </div>
  </div>
</section>