<header class="page-header">
    <div class="page-header__container container">
        <a href="./index.html" class="page-header__logo link animate__backInLeft animate__slow animate__animated">
            <picture>
                <source srcset="./images/desktop/logo.png 1x, ./images/desktop/logo@2x.png 2x" type="image/png" />
                <img src="./images/desktop/logo.png" alt="Логотип" />
            </picture>
        </a>

        <nav class="site-nav">
            <ul class="site-nav__list list">
                <li class="site-nav__item">
                    <a href="./index.html" class="link site-nav__link current">Головна</a>
                </li>
                <li class="site-nav__item"><a href="#about-us" class="link site-nav__link">Про нас</a></li>
                <li class="site-nav__item">
                    <a href="#portfolio" class="link site-nav__link">Портфоліо</a>
                </li>
                <li class="site-nav__item">
                    <a href="#gallery" class="link site-nav__link">Галерея</a>
                </li>
                <li class="site-nav__item"><a href="#contacts" class="link site-nav__link">Контакти</a></li>
            </ul>
        </nav>

        <div class="page-header__buttons">
            <button class="button burger-btn" data-menu-open type="button">
                <svg class="burger-btn__icon" width="20" height="12">
                    <use href="./images/sprite.svg#icon-burger"></use>
                </svg>
            </button>

        </div>
        <div class="mobile-menu" data-menu>
            <div class="mobile-menu__container">
                <button class="button mobile-menu__close-btn" data-menu-close type="button">
                    <svg class="mobile-menu__close-icon" width="14" height="14">
                        <use href="./images/sprite.svg#icon-close"></use>
                    </svg>
                </button>
                <ul class="nav-list list">
                    <li class="nav-list__item">
                        <a href="./index.html" class="nav-list__link link current">Home</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#about-us" class="nav-list__link link" data-item>Про нас</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#how-it's-made" class="nav-list__link link" data-item>Виробництво</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#portfolio" class="nav-list__link link" data-item>Портфоліо</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#contacts" class="nav-list__link link" data-item>Контакти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>