<section class="portfolio-reviews" id="portfolio">
  <div class="container">
    <h2 style="color: var(--accent-color);margin-bottom: 30px;">Портфоліо</h2>
    <a href="https://photos.app.goo.gl/3VgGVrEqrgmM5nXLA" target="_blank"
      style="color: var(--secondary-accent-color); text-decoration: none;">
      <p style="line-height: 1.2; font-size: 18px; font-weight: 700; margin-bottom: 30px;">
        відкрити повний альбом робіт &#128279;</p>
    </a>
    <div class="portfolio-slider">

      <div class="reviews__slide">
        <img src="/images/portfolio/min-oboron.jpg" alt="flagpole" width="800px" height="600px"
          style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">Флагштоки для міністерства оборони України,
          Київ</p>
      </div>
      <div class="reviews__slide">
        <img src="/images/portfolio/giz-kyiv.jpg" alt="flagpole" width="800px" height="600px"
          style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">Флагштоки для німецького товариства
          міжнародного співробітництва (GIZ), Київ</p>
      </div>
      <div class="reviews__slide">
        <img src="/images/portfolio/donbas.jpg" alt="flagpole" width="800px" height="600px" style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">Фотостенд для центру дитячої та юнацької
          творчості, Костянтинівка (донецька обл.)</p>
      </div>
      <div class="reviews__slide">
        <img src="/images/portfolio/invictus-games.jpg" alt="flagpole" width="800px" height="600px"
          style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">Флагштоки віндер для проекту "Ігри
          нескорених", Київ, 2018
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/portfolio/auto-flagpole.jpg" alt="flagpole" width="800px" height="600px"
          style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">Флагшток з прапором Угорщини на дипломатичний
          автомобіль
        </p>
      </div>
      <div class="reviews__slide">
        <img src="/images/portfolio/uefa-2018.jpg" alt="flagpole" width="800px" height="600px"
          style="border-radius: 3px;">
        <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">Флагштоки для фан-зони чемпіонату УЄФА,
          Київ, 2018
        </p>
      </div>

      <!-- <div class="reviews__slide">
        <img src="/images/portfolio/uefa-2018.jpg" alt="flagpole" width="800px" height="600px"
          style="border-radius: 3px;">
        <div class="reviews__desc">
          <svg class="reviews__icon" width="32px" height="4px">
            <use href="./images/sprite.svg#icon-customer-reviews-dots"></use>
          </svg>
          <p class="reviews__name" style="color: rgba(255, 255, 255, 0.7);">Flagpoles for UEFA championship FUN ZONE</p>
        </div>
      </div> -->
    </div>
  </div>
</section>